---
layout: default
---


<section id="intro">
</section>

<section class="posts">
  <div class="flex-row-between">
    <h1>#{{page.tag}}</h1>
    <a href="{{ site.url }}{{ site.baseurl }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
  </div>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains page.tag %}
    <li><a class="post" href="{{ site.url }}{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a><time
        datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

<section class="tags">
  <h3>All tags</h3>
  {% assign tags = site.tags | sort %}
  <ul>
    {% for tag in tags %}
    <li>
      <a class="posts" href="{{ site.url }}{{ site.baseurl }}/tag/{{ tag | first | slugify }}/">{{ tag[0] | replace:'-', ' '
        }}{% unless forloop.last %} {% endunless %}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
